<div class="col-lg-8">
  <h2>List <button [disabled]="editPatientService.patient" type="button" class="btn btn-default btn-lg" (click)="showAddPatientComponent()">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  </button></h2>

  <app-patient-list #patientList></app-patient-list>
</div>
<div class="col-lg-4">
  <app-patient-form *ngIf="showAddPatientComp" [header]="'Add Patient'" (onSubmitted)="addPatient($event)" (onCanceled)="hideAddPatientComponent()"></app-patient-form>
  <app-patient-form *ngIf="editPatientService.patient" [header]="'Edit Patient'" [patient]="editPatientService.patient" (onSubmitted)="updateAndRemoveEditPatientComp($event)"
    (onCanceled)="removePatientToEditAndHideEditComponent()"></app-patient-form>
</div>